.section
    $this: &
    padding-top: clamp(50px, 15vw, 120px)
    padding-bottom: clamp(50px, 15vw, 120px)
    &--reversed
        #{$this}__inner 
            flex-direction: row-reverse
    &__title
        margin-bottom: clamp(15px, 3vw, 40px)

.top-section
    position: relative
    z-index: 1
    display: flex
    flex-direction: column
    min-height: 963px
    padding-bottom: 53px
    padding-top: 100px  
    +mx
    color: var(--main-light-color)
    +r(960)
        min-height: 0
    &::after
        content: ''
        z-index: -1
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        +line-gradient(var(--main-blue-color), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
    &__inner    
        display: flex
        flex-direction: column
        align-items: flex-end
        max-width: 970px
        margin: auto
        text-align: center
    &__title,
    &__text
        margin-bottom: 40px
    &__title
        color: var(--main-light-color)
    &__text 
        font-size: 24px
        line-height: 1.58
    &__buttons
        +mx
        display: flex
        flex-wrap: wrap-reverse
        align-items: center
        justify-content: center
        gap: 20px
        margin-bottom: 20px
        max-width: 420px
    &__play-button
        display: flex
        align-items: center
        background-color: transparent
        color: var(--main-light-color)
        font: 700 20px/1.4 var(--base-font-bold)
    &__play-icon
        display: inline-block
        margin-right: 14px
        width: 56px
        height: 56px
        fill: var(--main-light-color)
    
.top-section + .category
    padding-top: clamp(100px, 15vw, 240px)


.sponsors
    text-align: center
    &__inner
	    margin-bottom: 80px

.price
    &__content
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr) )
        align-items: center
        justify-items: center
        grid-gap: 30px 20px
    &__ttl
        text-align: center   

.media
    overflow: hidden
    & + &
        padding-top: clamp(30px, 15vw, 100px)
        +r(960)
            padding-top: 0
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        gap: 50px
    &__layer-gallery
        flex: 2
        
    &__grid-gallery
        flex: 1
    &__grid-gallery
        flex-basis: auto
        max-width: 900px

    &__text-block
        min-width: 250px
        flex: 2
        margin-bottom: 30px
    &__text
        margin-bottom: clamp(20px, 4vw, 80px)
    &__button

.section-schedule
    background: linear-gradient(rgba(56, 29, 219, 0.05),rgba(56, 29, 219, 0)mrgba(56, 29, 219, 0))

.testimonials	
	&__title
		text-align: center

.blogs
    +line-gradient(rgba(#FFA3A3, .2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2))

.testimonials  + .blogs
    padding-top: clamp(170px, 15vw, 383px)

.contacts
    min-width: 500px
    flex-grow: 1

    padding: 110px 10% 110px 80px
    color: var(--main-light-color)
    background: var(--main-blue-color) url('../img/shape-bottom.svg') no-repeat right bottom / 20% auto
    +r(960)
        min-width: 0
    &__header 
        margin-bottom: 50px
    &__title 
        margin-bottom: 10px
        color: inherit

.contacts-1
    display: flex
    width: 40%
    justify-content: flex-end
    padding: 110px 80px
    .contacts__inner 
        margin-left: auto
        margin-right: 40%
        margin-right: 200px
        margin-right: clamp(20%, 25vw, 100px);
        // margin-right: clamp(40%, 10vw, min(200px, 50px))
        max-width: 420px;

.contacts-2
    width: 56%
    min-height: 662px
    background: grey

.address
    font-style: normal
    &__link
        +reset-link
        display: flex
        align-items: center
        +not-last
            margin-bottom: 15px
    &__icon
        display: inline-block
        margin-right: 10px
        fill: var(--main-pink-color)