{% set form = {
    class: 'form'
} %}

{% set inputs = [
    {
        class: 'form__input js-form-field',
        type: 'text',
        id: 'name',
        name: 'name',
        placeholder: 'name',
        required: 'true'
    }, {
        class: 'form__input js-form-field',
        type: 'email',
        id: 'email',
        name: 'email',
        placeholder: 'email',
        required: 'true'
    }
] %}
    <form action="handler" method="post" class="{{form.class}}" id="contact-form">
        {% for input in inputs %}
            <div class="form__item js-form-item" data-text="">
                <label class="form__label" for="{{input.id}}">{{input.name}}</label>
                {{mixins.input(input)}}
            </div>
        {% endfor %}
        <div class="form__item js-form-item" data-text="">
            <label class="form__label" for="message">message</label>
            <textarea class="form__message js-form-field" name="message" id="message" placeholder="message"></textarea>
        </div>
        <div class="form__item">
            <button class="button button_blue button_full" type="submit" id="submit">Submit</button>
        </div>
    </form>