{% set navLinks = [
  {
    url: '#',
    nameLink: 'home',
    class: 'header__nav-link' 
  }, {
    url: '#speakers',
    nameLink: 'speakers',
    class: 'header__nav-link',
    subMenu: [
      {
        url: '#',
        nameLink: 'sub menu'
      }, {
        url: '#',
        nameLink: 'sub menu'
      }, {
        url: '#',
        nameLink: 'sub menu'
      }, {
        url: '#',
        nameLink: 'sub menu'
      }
    ]
  }, {
    url: '#schedule',
    nameLink: 'Schedule',
    class: 'header__nav-link',
    subMenu: [
      {
        url: '#',
        nameLink: 'sub menu 1'
      }, {
        url: '#',
        nameLink: 'sub menu 1'
      }, {
        url: '#',
        nameLink: 'sub menu 1'
      }, {
        url: '#',
        nameLink: 'sub menu 1'
      }
    }
  ], {
    url: '#contact',
    nameLink: 'contact us',
    class: 'header__nav-link'
  }
] %}

{% set
logo = {
  class: 'header__logo'
} %}
{% set 
  nav = {
      class: 'header__nav',
      navListClass: 'nav__list--mobile',
      navItemClass: 'header__item'
  }%}

<!-- BEGIN header -->
<header class="header">
  <div class="header__inner container">
    {% include "partials/_logo.html" %}

    <div class="header__mobile">

      {% include "partials/_navigation.html" %}

      {{mixins.button('header__button button','GET TICKETS')}}
      {# {{mixins.button('','','GET TICKETS','button__icon_add')}} #}
    </div>
    <div class="hamburger-menu">
      <span class="hamburger-menu__line"></span>
      <span class="hamburger-menu__line"></span>
      <span class="hamburger-menu__line"></span>
    </div>
  </div>
</header>
<!-- END header -->
