<!-- BEGIN table -->
<table class="table">
    <thead class="table__head">
        <tr class="table__row">
            {% for th in table.titles %}
                <th class="table__title title title--medium">{{th.titleText}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="table__body">
        {% for rows in table.rows %}
            <tr class="table__row">
                {% for row in rows %}
                    {% if row.cells.user %}
                        <td class="table__cell {{row.cellClass}}">
                            {% for us in row.cells.user %}
                                {{mixins.user(us)}}
                            {% endfor %}
                        </td>
                    {% elif row.cells.status %}
                        <td class="table__cell {{row.cellClass}}">
                            <span class="{{row.cells.status.statusClass}}">{{row.cells.status.text}}</span>
                            {{mixins.icon(row.cells.status.icon,row.cells.status.iconClass)}}
                        </td>
                    {% elif row.cells.user != '' %}
                        <td class="table__cell {{row.cellClass}}">{{row.cells}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<!-- END table -->