<!-- BEGIN section -->
<section class="section event" style="background: url(img/top-img.jpg)  no-repeat center / cover;">
    <div class="event__inner container">
        <h1 class="event__title section__title title title--xlarge">The Best experience of <span class="text-pink">music</span> in 2021</h1>
        <p class="event__text text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae ligula placerat, eleifend ex non,
      vehicula libero. Suspendisse eget tellus lectus.
    </p>
        <div class="event__buttons">
            {{mixins.button('header__button button_red','GET TICKETS')}}
            <button class="event__play-button">{{mixins.icon('play','event__play-icon')}}
        Watch Video</button>
        </div>
    </div>
    <div class="big-text js-timer">22d 13h 46m 18s</div>
</section>
<!-- END section -->