{% set spansors = [ 
    {
        imgUrl: 'img/sponsors/google.png',
        imgAlt: 'google'
    },
    {
        imgUrl: 'img/sponsors/microsoft.png',
        imgAlt: 'microsoft'
    },
    {
        imgUrl: 'img/sponsors/airbnb.png',
        imgAlt: 'airbnb'
    },
    {
        imgUrl: 'img/sponsors/axure.png',
        imgAlt: 'axure'
    },
    {
        imgUrl: 'img/sponsors/apple.png',
        imgAlt: 'apple'
    },
    {
        imgUrl: 'img/sponsors/facebook.png',
        imgAlt: 'facebook'
    },
    {
        imgUrl: 'img/sponsors/nokia.png',
        imgAlt: 'nokia'
    },
    {
        imgUrl: 'img/sponsors/oracle.png',
        imgAlt: 'oracle'
    }
]%}

<!-- BEGIN section sponsors -->
<section class="section sponsors" {{'id=sponsors'}}>
    <div class="sponsors__inner container">
        <h2 class="sponsors__title section__title title title--large">Our Sponsors</h2>
        <div class="sponsors-block {{sponsor.class}}">
            {% for sponsor in spansors %}
                <img class="sponsors-block__img" src="{{sponsor.imgUrl}}" alt="{{sponsor.imgAlt}}">
            {% endfor %}
        </div>
    </div>
    <div class="container">
        {{mixins.button('button_blue sponsors__button', 'Become a Sponsor')}}
    </div>
</section>
<!-- END section sponsors -->