{% set confetti = [9, 10, 11, 12] %}

{% set tabs = [
    {
        active: 'is-active',
        day: 'Day 01',
        date: '16 August'
    },
    {
        active: '',
        day: 'Day 02',
        date: '17 August'
    },
    {
        active: '',
        day: 'Day 03',
        date: '18 August'
    }
]%}

{% set
eventTableRows = [
    {
        titles: [
            {
                titleText: 'Time'
            }, {
                titleText: 'Content'
            }, {
                titleText: 'Speakers'
            }, {
                titleText: ''
            }
        ],
        rows: [
            [
                {
                    cells: '11:00 AM to 12:00 PM',
                    cellClass: 'schedule__date'
                }, {
                    cells: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus. ',
                    cellClass: 'schedule__content'
                }, {
                    cells: {
                         user: [
                        {
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-1.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Yui Ronald',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: ' 2F12'
                        }
                         ]
                    },
                    cellClass: 'schedule__speakers'
                },
                {
                    cells: {
                        status: {
                            text: 'Upcoming',
                            statusClass: 'schedule__status-text',
                            icon: 'clock',
                            iconClass: 'schedule__status-icon'
                        }
                    },
                    cellClass: 'schedule__status'
                }
            ],

            [
                {
                    cells: '12:00 PM to 03:00 PM',
                    cellClass: 'schedule__date'
                }, {
                    cells: 'Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae, fringilla id magna. Vestibulum ornare eget urna nec pulvinar. Praesent porttitor convallis blandit. Fusce vel egestas dolor. Donec eu augue enim. Donec rutrum non lacus ac rhoncus. Morbi quis luctus leo, nec cursus ex.',
                    cellClass: 'schedule__content'

                },{
                    cells: {
                         user: [
                        {
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-2.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Johnny Doe',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '3G12'
                        },
                        {
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-1.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Yui Ronald',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '2F12'
                        },{
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-3.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Emma Satoshi',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '2A35'
                        }
                         ]
                         
                    },
                    cellClass: 'schedule__speakers'
                },
                {
                    cells: {
                        status: {
                            text: 'Live',
                            statusClass: 'schedule__status-text',
                            icon: 'live-camera',
                            iconClass: 'schedule__status-icon'
                        }
                    },
                    cellClass: 'schedule__status is-active'
                }
            ],
            [
                {
                    cells: '03:00 PM to 04:00 PM',
                    cellClass: 'schedule__date'
                }, {
                    cells: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus. ',
                    cellClass: 'schedule__content'
                },{
                    cells: {
                         user: [
                        {
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-4.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Sasha Jackson',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '2F18'
                        },{
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-5.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Diana Brock',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '2F24'
                        }
                         ]
                    },
                    cellClass: 'schedule__speakers'
                },
                {
                    cells: {
                        status: {
                            text: 'Preview',
                            statusClass: 'schedule__status-text',
                            icon: 'play',
                            iconClass: 'schedule__status-icon'
                        }
                    },
                    cellClass: 'schedule__status'
                }
            ]
        ]
    }, {
        titles: [
            {
                titleText: 'Time'
            }, {
                titleText: 'Content'
            }, {
                titleText: 'Speakers'
            }, {
                titleText: ''
            }
        ],
        rows: [
            [
                {
                    cells: '11:00 AM to 12:00 PM',
                    cellClass: 'schedule__date'
                }, {
                    cells: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus. ',
                    cellClass: 'schedule__content'
                }, {
                    cells: {
                         user: [
                        {
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-1.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Yui Ronald',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: ' 2F12'
                        }
                         ]
                    },
                    cellClass: 'schedule__speakers'
                },
                {
                    cells: {
                        status: {
                            text: 'Upcoming',
                            statusClass: 'schedule__status-text',
                            icon: 'clock',
                            iconClass: 'schedule__status-icon'
                        }
                    },
                    cellClass: 'schedule__status'
                }
            ],

            [
                {
                    cells: '12:00 PM to 03:00 PM',
                    cellClass: 'schedule__date'
                }, {
                    cells: 'Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae, fringilla id magna. Vestibulum ornare eget urna nec pulvinar. Praesent porttitor convallis blandit. Fusce vel egestas dolor. Donec eu augue enim. Donec rutrum non lacus ac rhoncus. Morbi quis luctus leo, nec cursus ex.',
                    cellClass: 'schedule__content'

                },{
                    cells: {
                         user: [
                        {
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-1.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Yui Ronald',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '2F12'
                        }
                         ]
                         
                    },
                    cellClass: 'schedule__speakers'
                },
                {
                    cells: {
                        status: {
                            text: 'Live',
                            statusClass: 'schedule__status-text',
                            icon: 'live-camera',
                            iconClass: 'schedule__status-icon'
                        }
                    },
                    cellClass: 'schedule__status is-active'
                }
            ],
            [
                {
                    cells: '03:00 PM to 04:00 PM',
                    cellClass: 'schedule__date'
                }, {
                    cells: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus. ',
                    cellClass: 'schedule__content'
                },{
                    cells: {
                         user: [
                        {
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-4.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Sasha Jackson',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '2F18'
                        }
                         ]
                    },
                    cellClass: 'schedule__speakers'
                },
                {
                    cells: {
                        status: {
                            text: 'Preview',
                            statusClass: 'schedule__status-text',
                            icon: 'play',
                            iconClass: 'schedule__status-icon'
                        }
                    },
                    cellClass: 'schedule__status'
                }
            ]
        ]
    }, {
        titles: [
            {
                titleText: 'Time'
            }, {
                titleText: 'Content'
            }, {
                titleText: 'Speakers'
            }, {
                titleText: ''
            }
        ],
        rows: [
            [
                {
                    cells: '11:00 AM to 12:00 PM',
                    cellClass: 'schedule__date'
                }, {
                    cells: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus. ',
                    cellClass: 'schedule__content'
                }, {
                    cells: {
                         user: [
                        {
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-1.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Yui Ronald',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: ' 2F12'
                        }
                         ]
                    },
                    cellClass: 'schedule__speakers'
                },
                {
                    cells: {
                        status: {
                            text: 'Upcoming',
                            statusClass: 'schedule__status-text',
                            icon: 'clock',
                            iconClass: 'schedule__status-icon'
                        }
                    },
                    cellClass: 'schedule__status'
                }
            ],

            [
                {
                    cells: '12:00 PM to 03:00 PM',
                    cellClass: 'schedule__date'
                }, {
                    cells: 'Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae, fringilla id magna. Vestibulum ornare eget urna nec pulvinar. Praesent porttitor convallis blandit. Fusce vel egestas dolor. Donec eu augue enim. Donec rutrum non lacus ac rhoncus. Morbi quis luctus leo, nec cursus ex.',
                    cellClass: 'schedule__content'

                },{
                    cells: {
                         user: [
                        {
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-2.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Johnny Doe',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '3G12'
                        },
                        {
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-1.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Yui Ronald',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '2F12'
                        },{
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-3.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Emma Satoshi',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '2A35'
                        }
                         ]
                         
                    },
                    cellClass: 'schedule__speakers'
                },
                {
                    cells: {
                        status: {
                            text: 'Live',
                            statusClass: 'schedule__status-text',
                            icon: 'live-camera',
                            iconClass: 'schedule__status-icon'
                        }
                    },
                    cellClass: 'schedule__status is-active'
                }
            ],
            [
                {
                    cells: '03:00 PM to 04:00 PM',
                    cellClass: 'schedule__date'
                }, {
                    cells: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus. ',
                    cellClass: 'schedule__content'
                },{
                    cells: {
                         user: [
                        {
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-4.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Sasha Jackson',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '2F18'
                        },{
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-5.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Diana Brock',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '2F24'
                        },{
                            class: 'speaker',
                            avatarClass: 'speaker__photo',
                            avatarUrl: 'img/users/Avatar-5.jpg',
                            avatarAlt: 'user photo',
                            nameClass: 'title title--xsmall',
                            nameText: 'Diana Brock',
                            subdescriptionClass: 'user__sub-description',
                            description: 'Booth:',
                            subdescription: '2F24'
                        }
                         ]
                    },
                    cellClass: 'schedule__speakers'
                },
                {
                    cells: {
                        status: {
                            text: 'Preview',
                            statusClass: 'schedule__status-text',
                            icon: 'play',
                            iconClass: 'schedule__status-icon'
                        }
                    },
                    cellClass: 'schedule__status'
                }
            ]
        ]
    }

] %}

<!-- BEGIN schedule -->
<section class="section section-schedule" >
    <div class="wrapper">
        <div class="section-schedule__inner container">
            <h3 class="section-schedule__title section__title title title--large">Event Schedule</h3>
            <!-- BEGIN schedule -->
            <section class="schedule" id="schedule">
                <!-- BEGIN schedule head -->
                <div class="schedule__head">
                    {% for tab in tabs %}
                        <div class="schedule__tab {{tab.active}} event-date">
                            <div class="event-date__day">{{tab.day}}</div>
                            <div class="event-date__date">{{tab.date}}</div>
                        </div>
                    {% endfor %}
                </div>
                <!-- EBD section-schedule -->
                {% for table in tables %}{% endfor %}
                {% for table in eventTableRows %}
                    <!-- BEGIN schedule body -->
                    <div class="schedule__body {% if loop.index == 1 %} is-active {% endif %}">
                        {% include "partials/_table.html" %}
                    </div>
                    <!-- END schedule body -->
                {% endfor %}
            </section>
            <!-- END schedule -->

            {% for conf in confetti %}
                {{mixins.confetti(conf)}}
            {% endfor %}
        </div>
    </div>
</section>
<!-- END schedule -->