.icon-add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bagpipes {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chat {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-confetti-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dj-mixer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-email {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-guitar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-live-camera {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 4.17em;
  height: 1em;
  fill: initial;
}
.icon-map-pin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-quotes {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-saxophone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-trumpet {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
